opendatasets
kaggle
segmentation-models-pytorch
torchsummary
albumentations
segmentation_models
fastai
Pillow
matplotlib
seaborn
networkx
plotly
scikit-learn
folium
ipywidgets
torch
torchvision
opencv-python
skimage
scipy
tensorflow